html {
    font-family: arial;
}

.topBanner {
    background-color: #37393A;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    font-family: Arial;
    padding: 10px;
    margin-top: 0px;
}

nav {
    text-align: center;
    margin-top: 0px;
    margin-right: 20px;
}

ul {
    margin-top: 10px;
}

li {
    list-style: none;
    display: inline;
    background-color: #CFD5D4;
    font-family: arial;
    padding: 8px 5px;
}

a.menu {
    color: white;
    text-decoration: none;
    font-weight: 700;
    
}

.intro h2 {
    background-color: #06E1AB;
    padding-left: 10px;
    margin-top: 5px 30px;
    margin-bottom: 5px;
    margin-left: 110px;
    margin-right: 105px;
    padding: 10px 10px;
    font-weight: 300;
}

u {
    text-decoration-color: yellow;
}

section.gallery {
    margin-right: auto;
    margin-left: 110px;
    margin-bottom: 15px;
}

div.pictures {
    display: inline;
}

.buttons p{
    display: inline-block;
    background-color: #EEB936;
    text-align: center;
    margin: 2px 0;
    padding: 10px 156.5px;
}

footer p{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
}